.heightBelowNav {
  height: 5.5rem;
}
.navnav {
  /* background-color: red; */
  position: relative;
  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
.leftNav {
  left: -100vw;
}
.rightNav {
  left: 0%;
}
.navbar-cart > i {
  margin: 16px auto auto 16px;
}
.navbar-cart > span {
  font-size: 13px;
  position: relative;
  margin-left: -9px;
  top: -13px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}
/* tab */
@media (min-width: 40rem) {
  .heightBelowNav {
    height: 5.2rem;
  }
}
/*lap */
@media (min-width: 80rem) {
  .heightBelowNav {
    height: 5.4rem;
  }
  .navnav {
    position: relative;
  }
  .navbar-cart > i {
    margin: auto auto auto 16px;
  }
}
