<%-  include("../components/layout/header")%>
<title>Home</title>
<script>
  function clickLogin(){
    alert("your name, dear home?")
  }
</script>
</head>
<body>
  <%- include("../components/layout/navbar") %>
  <h1>Home Page</h1>
</body>
<%-  include("../components/layout/footer")%>